<!DOCTYPE html>
<html>

<head>
  <title>Registro de Usuario</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/forms.css" />
</head>

<body class="body-register">
  <header>
    <div class="main-header-top-bar">
      <div class="logo">
        <img src="images/logo.svg" alt="Logo de la página" />
      </div>
      <form class="search-bar" action="/" method="GET">
        <div class="search">
          <input type="text" placeholder="Buscar productos, marcas..." />
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </form>
      <div class="cuotas">
        <span><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjeta de crédito</span>
      </div>
    </div>
    <nav class="main-nav-bar">
      <ul class="left-nav-bar">
        <li><a href="#ofertas">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>

      <ul class="right-nav-bar">
        <li>
          <a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>
        </li>
        <li>
          <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
        </li>
        <li>
          <a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
        </li>
      </ul>
    </nav>
    <div class="burger-menu">
      <button><i class="fas fa-bars fa-2xl"></i></button>
    </div>
  </header>

  <form class="main-form" action="/" method="POST">
    <input class="normal-input" type="text" id="nombre" name="nombre" placeholder="Nombre y apellido" required />
    <input class="normal-input" type="text" id="username" name="username" placeholder="Nombre de usuario" required />
    <input class="normal-input" type="email" id="email" name="email" placeholder="E-mail" title="Ingrese un mail"
      required />

    <label class="title-in-form" for="fecha_nacimiento">Fecha de Nacimiento:</label>
    <input class="normal-input" type="date" id="fecha_nacimiento" name="fecha_nacimiento" required />

    <input class="normal-input" id="domicilio" name="domicilio" placeholder="Domicilio" required></input>

    <label class="title-in-form" for="perfil_usuario">Perfil del usuario:</label>

    <div class="radio-container">
      <div class="radio-item">
        <input type="radio" id="comprador" name="perfil_usuario" value="comprador" required />
        <label for="comprador">Comprador</label>
      </div>

      <div class="radio-item">
        <input type="radio" id="vendedor" name="perfil_usuario" value="vendedor" required />
        <label for="vendedor">Vendedor</label>
      </div>
    </div>

    <label class="title-in-form" for="categorias_interes">Categorías de interés:</label>

    <div class="checkbox-container">
      <input type="checkbox" id="electro" name="categorias_interes" value="electro" />
      <label for="electro">Electro</label>
    </div>

    <div class="checkbox-container">
      <input type="checkbox" id="moda" name="categorias_interes" value="moda" />
      <label for="moda">Moda</label>
    </div>

    <div class="checkbox-container">
      <input type="checkbox" id="hogar" name="categorias_interes" value="hogar" />
      <label for="hogar">Hogar</label>
    </div>

    <div class="checkbox-container">
      <input type="checkbox" id="jugueteria" name="categorias_interes" value="jugueteria" />
      <label for="jugueteria">Juguetería</label>
    </div>

    <div class="checkbox-container">
      <input type="checkbox" id="vida_sana" name="categorias_interes" value="vida_sana" />
      <label for="vida_sana">Vida Sana</label>
    </div>

    <label class="title-in-form" for="foto_usuario">Foto de usuario:</label>
    <input class="normal-input" type="file" id="foto_usuario" name="foto_usuario" accept="image/*" required />

    <!-- <label class="title-in-form" for="password">Contraseña:</label> -->
    <input class="normal-input" type="password" id="password" name="password" placeholder="Ingrese su contraseña"
      required />

    <!-- <label class="title-in-form" for="confirm_password">Confirmar Contraseña:</label> -->
    <input class="normal-input" type="password" id="confirm_password" placeholder="Confirme su contraseña"
      name="confirm_password" required />

    <input class="form-button" type="submit" action="home.html" value="Enviar" />
    <input class="form-button" type="reset" value="Borrar" />
  </form>


  <footer>
    <div class="footer-container">
      <div class="footerElement">
        <i class="fa-solid fa-credit-card fa-2xl"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="footerElement">
        <i class="fa-solid fa-gift fa-2xl"></i>
        <h3>Envío gratis desde $2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="footerElement">
        <i class="fa-solid fa-user-shield fa-2xl"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
          puedas hacer, porque estás siempre protegid@.
        </p>
      </div>
    </div>
    <div class="footer-row">
      <p>© 1999-2023 MercadoLiebre S.R.L.</p>
    </div>
  </footer>
</body>

</html>